{% extends "base.html.twig" %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>
    <a href="{{ path('blog_show', {slug: 'test'}) }}"></a>
    <a href="{{ url('blog_show', {slug: 'test'}) }}"></a>
{% endblock %}
